//
//  Release.xcconfig
//  micopiloto
//
//  Created by Gabriel Gárate Vivanco on 5/6/19.
//  Copyright © 2019 IONIX. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Shared.xcconfig"
#include "Pods/Target Support Files/Pods-Cumplo/Pods-Cumplo.release.xcconfig"

BaseURL = $(HTTPS)www.micopiloto.cl/enex-api-new-v1/
